**/node_modules
.env
/dist

/packages/*/dist
/packages/*/smart-contracts
/packages/*/coverage
/packages/*/integration-test/coverage

/coverage
/credentials/gitlab_write_token

/blockchain/**/artifacts
/blockchain/**/cache
/blockchain/**/types
/blockchain/**/typechain-types
/blockchain/*/coverage
*coverage.json

docs/*
!docs/.gitinclude
pretty_docs
docs
.npmrc

packages/event-mgmt/integration-test/coverage/
**/mongodb

.npm
.idea
*.iml

*.DS_STORE
