**/node_modules/
.env

/src/**/dist/
/src/**/smart-contracts/
/src/declarations/
/src/**/coverage/
/src/**/integration-test/coverage/

/coverage/
/credentials/gitlab_write_token

icp/ts-canisters/.azle
icp/ts-canisters/.dfx
icp/ts-canisters/declarations
icp/ts-canisters/.env.custom
icp/ts-canisters/.env.ci

integration-tests


/blockchain/**/artifacts/
/blockchain/**/cache/
/blockchain/**/types/
/blockchain/**/typechain-types/
/blockchain/**/coverage/
*coverage.json

docs/*
!docs/.gitinclude
pretty_docs
docs
blockchain/.npmrc

.npm
.idea
*.iml

.DS_Store
**/.DS_Store
